<div class="center-stuff">

<span class="blue_button">Click me!</span>

<!--<style>
  /* Write your CSS here to make the div look like a button. */

  .blue_button {
    border: 1px blue solid;
    border-radius: 3px;
    padding: 15px;
    color: white;
    background-color: blue;
  }

  .blue_button:hover {
    background-color: red;
  }

  .blue_button:active {
    background-color: green;
  }
</style>-->


</div>
